body {
    font: 16px/1.3em "Segoe UI","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
    margin: 0;
    color: #505050;
    background: #fff;
}

h1, h2{
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
	font-weight: 400;
	margin: 25px 0;
}

h2 {
    font-size: 1.3em;
    margin: 0;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

header {
    text-align: left;
    height: 60px;
    line-height: 60px;
    background: #68217a;    
}

header h1{
    font-size: 22px;
    font-weight: bold;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

    header a {
        color: #fff;
        text-decoration: none;
    }

div[role=main] {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

span[itemprop=description] {
    font-size: 1.2em;
}

.feed {
    text-indent: -5000px;
    background: url('rss.png');
    height: 32px;
    width: 32px;
    float: right;
    margin-bottom: 2em;
}

article {
    clear: both;
    position: relative;
    padding-left: 75px;
    margin-bottom: 2.5em;
}

    article p {
        margin: .5em 0;
    }

time {
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    width: 50px;
}

    time span {
        padding: 2px 0;
        display: block;
    }

    time .month {
        border-radius: 2px 2px 0 0;
        background-color: #752767;
        color: #fff;
    }

    time .day{
        font-weight: bold;
    }

#paging {
    text-align: center;
    margin-top: 1em;
}

    #paging a {
        color: #000;
        padding: 0 .5em;
    }

footer p {
    text-align: center;
    padding: 1.5em 0;
    margin: 3em 0 0 0;
    background: #333;
    color: #fff;
}

    footer p a {
        color: #fff;
    }

@media screen and (orientation: landscape) {
    @-ms-viewport {
        width: device-width;
    }
}

@media screen and (orientation: portrait) {
    @-ms-viewport {
        width: 800px;
    }

    body {
        -ms-text-size-adjust: 160%;
    }
}

@media only screen and (max-width: 600px) {

    article {
        padding-left: 0;
    }

    time {
        border: none;
        width: auto;
        position: relative;
    }

        time:after {
            content: attr(datetime);
        }

        time span {
            display: none;
        }
}
