body {
    font: 1em/1.3 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    -ms-text-size-adjust: 110%;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

header {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1em;
}

header a {
    color: #000;
    text-decoration: none;
}

.feed {
    text-indent: -5000px;
    background: url('rss.png');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    float: right;
}

div[role=main] {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

article {
    clear: both;
    position: relative;
    padding-left: 75px;
    margin-bottom: 2em;
}

time {
    position: absolute;
    left: 0;
    top: 5px;
    border: 1px solid #333;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

    time span {
        padding: 3px 0;
        display: block;
    }

    time .month {
        background-color: darkcyan;
        color: #fff;
    }

#paging {
    text-align: center;
    margin-top: 1em;
}

    #paging a {
        color: #000;
        padding: 0 .5em;
    }

footer p {
    text-align: center;
    padding: 1.5em 0;
    margin: 3em 0 0 0;
    background: #333;
    color: #fff;
}

    footer p a {
        color: #fff;
    }

@media screen and (orientation: landscape) {
    @-ms-viewport {
        width: device-width;
    }
}

@media screen and (orientation: portrait) {
    @-ms-viewport {
        width: 800px;
    }

    body {
        -ms-text-size-adjust: 160%;
    }
}

@media only screen and (max-width: 600px) {

    article {
        padding-left: 0;
    }

    time {
        border: none;
        width: auto;
        position: relative;
    }

        time:after {
            content: attr(datetime);
        }

        time span {
            display: none;
        }
}
