<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="feed" value="http://www.rssmix.com/u/6484105/rss.xml" />
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    </system.web>

</configuration>
