<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="visibleitems" value="30"/>

        <add key="feed:blog.aspnetteam" value="http://blogs.msdn.com/b/webdev/rss.aspx"/>
        <add key="feed:blog.scotthanselman" value="http://hanselman.com/blog/SyndicationService.asmx/GetRss"/>
        <add key="feed:blog.davidfowler" value="http://davidfowl.com/rss/"/>
        <add key="feed:blog.sayedhashimi" value="http://sedodream.com/SyndicationService.asmx/GetRss"/>
        <add key="feed:blog.bradygaster" value="http://www.bradygaster.com/feed/rss/"/>
        <add key="feed:blog.madskristensen" value="http://madskristensen.net/feed/rss"/>
        <add key="feed:youtube.scotthanselman" value="https://gdata.youtube.com/feeds/base/users/shanselman/uploads"/>
        <add key="feed:youtube.madskristensen" value="https://gdata.youtube.com/feeds/base/users/madskvistkristensen/uploads"/>
        <add key="feed:aspnetspotlight" value="http://www.asp.net/rss/spotlight"/>
        <add key="feed:ch9.madskristensen" value="http://channel9.msdn.com/Niners/Mads%20Kristensen/RSS"/>
        <add key="feed:ch9.scotthanselman" value="http://channel9.msdn.com/Niners/Glucose/RSS"/>

        <add key="vs:EnableBrowserLink" value="true"/>
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
    </system.web>
</configuration>